<!-- Include header -->
<%-  include('include/_header') %>
<!-- /Include header -->

<main id="site-main">
    <div class="container">
        <div class="box-navs d-flex justify-between users-table-button">
            <a href="/user-table" class="border-shadow">
                <span class="text-gradient">Users Table <i class="fa-solid fa-user"></i></span>
            </a>
        </div>
    </div>
</main>

<!-- Include footer -->
<%-  include('include/_footer') %>
<!-- /Include footer -->