<!-- Include header -->
<%-  include('_header') %>
<!-- /Include header -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="#" class="border-shadow" onclick="goBack()">
                <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
            </a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        <!-- add user form -->
        <%- include('_form') %>
        
    </div>
</main>

<!-- Include footer -->
<%-  include('_footer') %>
<!-- /Include footer -->

